[submodule "scripts/completion/completion-ruby"]
	path = scripts/completion/completion-ruby
	url = https://github.com/mernen/completion-ruby.git
[submodule "tools/t"]
	path = tools/t
	url = https://github.com/sjl/t.git
[submodule "scripts/external/ruby-complete"]
	path = scripts/external/ruby-complete
	url = https://github.com/cespare/ruby-complete.git
[submodule "scripts/external/z"]
	path = scripts/external/z
	url = https://github.com/rupa/z.git
[submodule "scripts/external/git-scripts"]
	path = scripts/external/git-scripts
	url = git@github.com:cespare/git-scripts.git
[submodule "scripts/external/flip-the-tables"]
	path = scripts/external/flip-the-tables
	url = git@github.com:cespare/flip-the-tables.git
