[submodule "scripts/external/vidir"]
	path = scripts/external/vidir
	url = https://github.com/trapd00r/vidir.git
[submodule "scripts/external/sshrc"]
	path = scripts/external/sshrc
	url = https://github.com/cdown/sshrc
