[core]
  excludesfile = ~/.git-global-ignore
  editor = "nvim -c '1 | startinsert!'"

[user]
  name = Caleb Spare
  email = cespare@gmail.com

[diff]
  tool = vimdiff

[alias]
  stat = status
  s = status --short --branch --ignore-submodules=untracked
  c = commit
  a = add
  f = filename
  sn = status --short --branch --untracked=no
  co = checkout
  sw = switch
  wc = whatchanged
  l = log
  b = branch
  sub = submodule
  pom = push origin master
  pu = push -u origin HEAD
  t = tag
  root = rev-parse --show-toplevel
  su = !"cd `git root` && git sub update --init --recursive && cd -"
  ff = merge --ff-only
  pf = push --force-with-lease
  ls = ls-files
  bi = bisect
  h = rev-parse HEAD
  r = rebase
  ri = rebase -i
  # rebase from the merge base of the given branch and HEAD.
  rif = "!git rebase -i $(git merge-base \"$1\" HEAD) #"
  cp = cherry-pick
  dc = diff --cached
  lol = log --oneline --graph --decorate
  oneline = log --format='%C(auto) %h %s'
  conf = config
  cam = commit -a --amend
  whoami = config --get user.email
  conflicts = diff --name-only --diff-filter=U
  fza = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
  wip-remote = for-each-ref --sort='-committerdate:iso8601' --count 20 --format=' %(color:green)%(committerdate:relative)%09%(color:white)%(refname:short)' refs/remotes/origin
  wip = for-each-ref --sort='-authordate:iso8601' --count 20 --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

  # For Go development.
  change = codereview change
  gofmt = codereview gofmt
  mail = codereview mail -trust
  pending = codereview pending
  submit = codereview submit
  sync = codereview sync

[branch]
  autosetuprebase = always

[merge]
  conflictstyle = zdiff3

[push]
  default = simple
  followTags = true

[pull]
  rebase = true

[rebase]
  autoSquash = true
  updateRefs = true

[init]
  defaultBranch = main

[color]
  diff = auto
  status = auto
  branch = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[github]
  user = cespare

# Put OS-specific stuff in .gitconfig.local.
[include]
  path = ~/.gitconfig.local
