[user]
  name = Caleb Spare
  email = cespare@gmail.com
[core]
  excludesfile = ~/.git-global-ignore
  editor = vim
[diff]
  tool = vimdiff
[color]
  ui = auto
  diff = auto
  status = always
  branch = auto
[alias]
  stat = status
  s = status --short --branch --ignore-submodules=untracked
  c = commit
  a = add
  f = filename
  sn = status --short --branch --untracked=no
  co = checkout
  wc = whatchanged
  l = log
  b = branch
  sub = submodule
  pom = push origin master
  t = tag
  root = rev-parse --show-toplevel
  su = !"cd `git root` && git sub update && cd -"
  ff = merge --ff-only
  ls = ls-files
  bi = bisect
  h = rev-parse HEAD
  r = rebase
  ri = rebase -i
  dc = diff --cached
  lol = log --oneline --graph --decorate
  conf = config
[branch]
  autosetuprebase = always
[gc]
  auto = 0
[push]
  default = tracking
[merge]
  stat = 1
[github]
  user = cespare
[fetch]
  recurseSubmodules = on-demand

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
