[submodule "scripts/external/markdown_doctor"]
	path = scripts/external/markdown_doctor
	url = git@github.com:cespare/markdown_doctor.git
[submodule "scripts/completion/completion-ruby"]
	path = scripts/completion/completion-ruby
	url = https://github.com/mernen/completion-ruby.git
[submodule "scripts/external/j2"]
	path = scripts/external/j2
	url = https://github.com/rupa/j2.git
