[user]
  name = Caleb Spare
  email = cespare@gmail.com
[core]
  excludesfile = ~/.git-global-ignore
  editor = vim
[diff]
  tool = vimdiff
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[alias]
  stat = status
  s = status --ignore-submodules=untracked
  c = commit
  a = add
  sn = status --untracked=no
  co = checkout
  wc = whatchanged
  l = log
  b = branch
  sub = submodule
  pom = push origin master
  t = tag
  root = rev-parse --show-toplevel
  su = !"cd `git root` && git sub update && cd -"
  ff = merge --ff-only
[branch]
  autosetuprebase = always
[gc]
  auto = 0
[push]
  default = tracking
[merge]
  stat = 1
[github]
	user = cespare
[fetch]
  recurseSubmodules = true
